.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.containerProfile{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    height: 100vh;
    width: 100%;
}